/*

write your code here

*/
/* 11 завдання */
#contact_subject {
  background: url("../img/email-icon.png") no-repeat 99% 1px;
  background-size: auto 90%;
}
@media print {
  @page {
    size: auto;
    margin: 0mm;
  }
  .tm-sidebar , .tm-team-img, #about , .boxes  , #ideas ~ section.tm-content-box , .carousel-indicators  {
    display: none;
  }
  body , .tm-main-content {
    padding-top: 0px;
  }
  
  #home > .tm-banner-inner {
    padding: 0px;
  }
  #home > .tm-banner {
    padding: 0px;
    padding-top: 5px;
  }
  
  #home {
    margin: 0;
  }
  
  section > .tm-content-box {
    margin: 0;
    margin-top: 20px;
  }
  .padding-medium {
    padding-bottom: 0;
  }
  
  .tm-team-description-container {
    margin: auto;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    max-width: none;
  }
  section.heading {
    text-align: center;
  }
  section.heading ol {
    column-count: 2;
    list-style-type: none;
  }
  section.heading ol > li {
    margin-top: 8%;
    list-style-position: inside;
  }
  
  #tmCarousel{
      padding: 0px;
      padding-top: 10px;
  }
}
