$white:#fff;
$primary: #21232F;
$secondary:$white;
$colorSection:$secondary;
$headerText:#E7E2E2;
$colorSilver:#D3CED1;
$bgColorWord: #FF4500;
$bgColorCardFooter: #3C3F50;
$bgColorBanner:#D5BF0D;
$headerImage:url(../img/m-h-night.jpg);
$bannerGradient:linear-gradient(to right, $bgColorBanner, #993A49);
$fontFamily1:'Source Sans Pro',
sans-serif;
$fontFamily2:'Fresca',
sans-serif;