$white:#fff;
$primary: $white;
$secondary:#20272E;
$colorSection:#000;
$headerText:#333;
$colorSilver:#D3CED1;
$bgColorWord:#00BFFF;
$bgColorCardFooter: #21232F;
$bgColorBanner: #739D07;
$headerImage:url(../img/m-h-day.jpg);
$bannerGradient:linear-gradient(to right, $bgColorBanner, #3261CB);
$fontFamily1:'Source Sans Pro',
sans-serif;
$fontFamily2:'Hind',
sans-serif;